pipeline {

  agent {
    kubernetes
    {
    label 'java-app'
    }
   }
  stages {
    stage('Test') {

      steps {
     container('maven') {
        sh """
        mvn test -Dcucumber.options="--tags ${env.BRANCH_NAME}"
        """

        }
      }
    }
  }
}
