pipeline {
  agent { label 'nodejs-app' }

    stages {
        stage('Setup') {
            steps {
             container('node-alpine') {
               sh '''
                  npm install express
                  npm install pug --save
                  node ./hello.js &
                '''
            }
          }
        }
    }
}
